<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show:</title>
</head>
<body>
<p th:text="${album.getAlbumName() + ', ' + album.getAlbumYear() + ', ' + album.getAlbumGenre() + ', ' + album.getAlbumPrice()}">VALUE</p>

<a th:href="@{/albums/{id}/editAlbum(id=${album.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/albums/{id}(id=${album.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>


