<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>New visitor</title>
</head>
<body>

<form th:method="POST" th:action="@{/visitors}" th:object="${visitor}">
    <label for="visitorName">Name: </label>
    <input type="text" th:field="*{visitorName}" id="visitorName"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('visitorName')}" th:errors="*{visitorName}">Name error</div>
    <br/>
    <label for="visitorSurname">Surname: </label>
    <input type="text" th:field="*{visitorSurname}" id="visitorSurname"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('visitorSurname')}" th:errors="*{visitorSurname}">Surname of
        visitor error
    </div>
    <br/>
    <label for="visitorBalance">Balance: </label>
    <input type="text" th:field="*{visitorBalance}" id="visitorBalance"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('visitorBalance')}" th:errors="*{visitorBalance}">Balance of
        visitor error
    </div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>