<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show:</title>
</head>
<body>
<p th:text="${visitor.getVisitorName() + ', ' + visitor.getVisitorSurname() + ', ' + visitor.getVisitorBalance()}">VALUE</p>

<a th:href="@{/visitors/{id}/editVisitor(id=${visitor.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/visitors/{id}(id=${visitor.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>


