<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create administrator</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
  <label for="visitor">Choose visitor:</label>
  <select th:object="${visitor}" th:field="*{id}" id="visitor">
    <option th:each="visitor : ${artists}" th:value="${visitor.getId()}"
    th:text="${visitor.getArtistName()}"></option>
  </select>

  <input type="submit" value="Confirm admin"/>
</form>

</body>
</html>