<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create administrator</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
  <label for="artist">Choose artist:</label>
  <select th:object="${artist}" th:field="*{id}" id="artist">
    <option th:each="artist:${artist}" th:value="${artist.getId()}"
    th:text="${artist.getArtistName()}"></option>
  </select>

  <input type="submit" value="Confirm admin"/>
</form>

</body>
</html>