<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New artist</title>
</head>
<body>

<form th:method="POST" th:action="@{/artists}" th:object="${artist}">
    <label for="artist_name">Enter artist name: </label>
    <input type="text" th:field="*{artistName}" id="artist_name"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('artistName')}" th:errors="*{artistName}">Name error</div>
    <br/>
    <label for="artist_nickname">Enter artist nickname: </label>
    <input type="text" th:field="*{artistNickname}" id="artist_nickname"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('artistNickname')}" th:errors="*{artistNickname}">Nickname of artist error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>