<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New artist</title>
</head>
<body>

<form th:method="POST" th:action="@{/artists}" th:object="${artist}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="nickname">Enter nickname: </label>
    <input type="text" th:field="*{nickname}" id="nickname"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname of artist error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>